.homePage {
  color: #2A3E55;
}

.container_presentation {
    display: flex;
    justify-content: space-around;
    margin: 3em  10em ;
    &_main {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-basis: 70%;
      padding: 20px 20px;
      h1 {
        font-size: 2.8em;
      }
      p {
        font-size: 1.5em;
      }
   }
   &_image {
    display: flex;
    justify-content: center;
     padding: 1em 0;
     img {
      width: 80%;
  border-radius: 5px;
     }
   }
}


//!----------------- AssetsPresentation -----------------
.container-assets-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em 0;

  .assetsPresentation {
    // margin: 30px 20%;
  &_main {
    color: #2A3E55;
    background-color: #F3F3F3;
    width: 75%;
    // height: 200px;
    padding: 2em 0;
    border: 1px solid #BDC3C7;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    // box-shadow: 10px 5px 5px #BDC3C7;
    margin-bottom: 1em;
  }
  &_card {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    .icon {
      margin-bottom: 0.5em;
    }
    h3 {
      font-weight: 900;
    }
  }
  }
}

//!----------------- -------------- -----------------



//!------------ button -------------------------
.button{
    background-color: teal;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    color: white;
}
.button:hover{
    background-color: #015555;
}
//!------------ --------------- -------------------




//! ----------  HowItWorksPresentation ---------------
.howItWorksPresentation {
  &_container {
    display: flex;
    flex-direction: column;
    h2 {
      text-align: center;
    }
  }
  &_main {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  &_content {
    width: 80%;
    padding: 1em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    &_description {
      margin: 0 2em;
    }
    img {
      width: 40%;
      height: auto;
      border-radius: 3px;
    }
  }
  &_button {
    display: flex;
    justify-content: center;
  }
}

//! ----------  --------------------------- ---------------



//! ----------- TeacherPresentation ---------------------
.teacherPresentation {

  &_main{
    background-color: #F3F3F3;
    border-radius: 5px;
    margin: 30px 10%;
    padding: 2em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: 2em;
    }
    button {
      margin-top: 30px;
    }
  }
  &_cards {
    margin-top: 20px;
    width: 100%;
   display: flex;
   justify-content: space-evenly;
   .cardTeacher{
      // border: 1px #BDC3C7 solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      padding: 1em;
      img {
         height: 10em;
         width: auto;
         border-radius: 50%;
         margin-bottom: 1em;
         border-top: 1px solid #BDC3C7;
      }
   }
  }
}

//! ----------- ---------------------- ---------------------

//! à faire --------
// Component TopLessonsPresentation

.TopLessonsContainer {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-size: 2em;
    font-weight: bold;
  }
}

.TopLessonsPresentation_container{
  background-color: #F3F3F3;
  border: 1px solid #BDC3C7;
  border-radius: 5px;
  // box-shadow: 10px 5px 5px #BDC3C7;
  width: 80%;
  height: 40%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5%;
}
.TopLessonsPresentation_container_card{
  display: flex;
 width: 100%;

}
.TopLessonsPresentation_Card p{
color: #BDC3C7;
text-align: center;
}
.TopLessonsPresentation_Card{
flex-basis:25% ;
display: flex;
flex-direction: column;
align-items: center;
padding:2% 5%;
  .name-description {
    display: flex;
    flex-direction: column;
     h4 {
       text-align: center;
       margin: 10px !important;
     }
  }
}
.TopLessonsPresentation_Card img{
  width: 100%;
}
.TopLessonsContainer button{
  margin-top: 1em;
}






// .HowItWorksPresentation_container{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-top: 8%;
// }
// .HowItWorksPresentation_main{
//   display: flex;
// justify-content: space-between;
// // width: 60%;

// }
// .HowItWorksPresentation_content{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   // width: 300px;
// }
// .HowItWorksPresentation_content img{
//   width:60%;
//   border-radius: 5px;
//   box-shadow: 10px 5px 5px #BDC3C7;
// }
// .HowItWorksPresentation_content p{
//   color:#BDC3C7 ;
//   text-align: center;
//   margin: 20px 0;
// }
// .HowItWorksPresentation_container h2{
//   font-size: 2em;
// margin-bottom: 2%;
// }

// Component UsersReviewsPresentation
.UsersReviewsPresentation_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 3%;
}
.UsersReviewsPresentation_container_card{
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.UsersReviewsPresentation_card img{
width:100px;
border-radius: 50%;
}
.UsersReviewsPresentation_card{
  border: 1px solid #BDC3C7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  padding: 5px;
  box-shadow: 5px 2px 2px #BDC3C7;
  border-radius: 5px;
}
.UsersReviewsPresentation_card p{
  color:#BDC3C7 ;
  text-align: center;
  margin: 15px 0;
}
.UsersReviewsPresentation_container h2{
  font-size: 2em;
margin-bottom: 2%;
}

// reprise antho
// 1100 px
@media (max-width: 1050px) {
  .container_presentation {
    flex-direction: column;
    margin: 0 auto;

    &_main {
      text-align: center;
    }
    &_image {
      img {
        width: 80%;
      }
    }
  }
      .HowItWorksPresentation_main {
        flex-direction: column;
        align-items: center;
      }
      // user advise
      .UsersReviewsPresentation_container_card {
        width: 75%;
      }
}

//! ipad => 768px
@media (max-width: 768px) {



  .container-assets-presentation {
    display: flex;
    // width: 80% !important;
    .AssetsPresentation_main {
      display: flex;
      // align-items: center;
      justify-content: space-around;
      width: 80% !important;
    }
    .AssetsPresentation_card{
      width: 30%;
    }
  }

  // == teacher list
  .TeacherPresentation_main {
    margin: 80px 10%;
    h2 {
      text-align: center;
    }
    .TeacherPresentation_card {
      // width: 80%;
      .OneCard {
        width: 24%;
      }
    }

  }


  .TopLessonsPresentation_container {
    flex-direction: column;
    .TopLessonsPresentation_container_card {
      .TopLessonsPresentation_Card {

      }
    }
  }

  .HowItWorksPresentation_content img {
    // width: 680px;
  }

  .UsersReviewsPresentation_container_card {
    flex-direction: column;
    align-items: center;
    .UsersReviewsPresentation_card {
      width: 70%;
      margin: 1em;
    }
  }

}

//! ==> telephone
@media (max-width: 450px) {
  .container_presentation {
    width: 98%;
    margin: 0px auto 50px;
  }
  .TeacherPresentation_main {
    margin: 40px 10%;
  }
  .TopLessonsContainer {
    margin-top: 5%;
  }
}



