// Component presentation
.container_presentation{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin:50px auto 100px ;
}
.container_presentation_main{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 70%;
    padding: 20px 20px;

}
.container_presentation_main h1{
  font-size: 2.8em;
}
.container_presentation_main p{
  font-size: 1.5em;
  color: #BDC3C7;
}
.container_presentation_image{
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}
.container_presentation_image img{
  width: 80%;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #BDC3C7;
}

// Component AssetsPresentation
.AssetsPresentation_main{
    margin: 30px 20%;
    height: 200px;
    border: 1px solid #BDC3C7;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 5px 5px #BDC3C7;
}
.AssetsPresentation_card{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}
.AssetsPresentation_card p{
    color: #BDC3C7;
}
.AssetsPresentation_button{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.button{
    background-color: #a29bfe;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    color: white;
}
.button:hover{
    background-color: #6c5ce7;
}

// Component TeacherPresentation
.TeacherPresentation_main{
    margin: 120px 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.TeacherPresentation_main h2{
  font-size: 2em;
}
.TeacherPresentation_main button{
  margin-top: 40px;
}
.TeacherPresentation_card{
    margin-top: 20px;
    width: 100%;
   display: flex;
   justify-content: space-evenly;
}
.TeacherPresentation_card img{
width: 60px;
border-radius: 50%;
}
.OneCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.OneCard p{
  color: #BDC3C7;
}

// Component TopLessonsPresentation
.TopLessonsContainer{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TopLessonsContainer h2{
  font-size: 2em;

}
.TopLessonsPresentation_container{
  border: 1px solid #BDC3C7;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #BDC3C7;
  width: 80%;
  height: 40%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5%;
}
.TopLessonsPresentation_container_card{
  display: flex;
 width: 100%;

}
.TopLessonsPresentation_Card p{
color: #BDC3C7;
text-align: center;
}
.TopLessonsPresentation_Card{
flex-basis:25% ;
display: flex;
flex-direction: column;
align-items: center;
padding:2% 5%;
}
.TopLessonsPresentation_Card img{
  width: 100%;
}
.TopLessonsContainer button{
  margin-top: -40px;
}

// Component HowItWorksPresentation
.HowItWorksPresentation_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}
.HowItWorksPresentation_main{
  display: flex;
justify-content: space-between;
width: 60%;

}
.HowItWorksPresentation_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.HowItWorksPresentation_content img{
  width: 350px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #BDC3C7;

}
.HowItWorksPresentation_content p{
  color:#BDC3C7 ;
  text-align: center;
  margin: 20px 0;
}
.HowItWorksPresentation_container h2{
  font-size: 2em;
margin-bottom: 2%;
}

// Component UsersReviewsPresentation
.UsersReviewsPresentation_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 3%;
}
.UsersReviewsPresentation_container_card{
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.UsersReviewsPresentation_card img{
width:100px;
border-radius: 50%;
}
.UsersReviewsPresentation_card{
  border: 1px solid #BDC3C7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  padding: 5px;
  box-shadow: 10px 5px 5px #BDC3C7;
  border-radius: 5px;
}
.UsersReviewsPresentation_card p{
  color:#BDC3C7 ;
  text-align: center;
  margin: 15px 0;
}
.UsersReviewsPresentation_container h2{
  font-size: 2em;
margin-bottom: 2%;
}




