.room {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .room-modify-button {
        padding: 10px 0;
    }
}

.container-updateLesson-category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}