.room {
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .room-modify-button {
        padding: 10px 0;
    }
}

// == container in modal update lesson
.container-update-lesson-form{
    padding: 3em;
    display: flex;
    flex-direction: column;

    .update-lesson-form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .title-description {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .title {
                input {
                    height: 2em;
                    width: 10em;
                    border-radius: 0.5em;
                }
            }
            .description {
                textarea {
                    width: 20em;
                    height: 5em;
                    border-radius: 0.5em;
                }
            }
        }
        .date-video-level {
            input {
                height: 2em;
                width: 12em;
                border-radius: 0.5em;
            }
        }
    }

    .submit-lesson-form {
        padding-top: 2em;
        display: flex;
        justify-content: center;
        input {
            height: 2em;
            width: 5em;
        }
    }
}

@media (max-width: 650px) {
    .container-update-lesson-form{
        // padding: 3em;
        // display: flex;
        // flex-direction: row;
        .update-lesson-form {
            flex-direction: column;
            align-items: center;
        }
}}
