// à changer
.lesson-bell {
  margin-left: 1em;
}

.lessons {
    min-height: 85vh;
    // .card-owner:hover {
    //     border-color: red !important;
    // }
    .ui .button {
        margin: 0 0 10px 0 !important;
    }
    .input-topbar {
        margin: 0 0 10px 0 !important;
    }
}

  // == modal add lesson

    .modal .lessonContent {
      background: rgba(19, 37, 41, 1) !important;
      box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5) !important;
      .message {
        padding: 0;
        background: rgba(19, 37, 41, .8) !important;
        .header {
          color: rgba(10, 180, 180, 1) !important;
          padding: 1em 1.5em;
        }
      }
    }
    .modal .header {
      //background: rgba(10, 180, 180, 1) !important;
      box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5) !important;
      color: white !important;
    }


.add-lesson-form {
    display: flex ;
    justify-content: space-evenly;
    padding: 30px;

    .title-description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .title {
            input {
                /*height: 2em;
                width: 10em;
                border-radius: 0.5em;*/
                margin: 15px 0;
                font-size: 16px;
                padding: 10px;
                width: 250px;
                border: 1px solid rgba(10, 180, 180, 1);
                //@debug: 1px solid white;
                border-top: none;
                border-left: none;
                border-right: none;
                background: rgba(20, 20, 20, .2);
                color: white;
                outline: none;
                &:hover {
                  color: white !important;
                  background: rgba(19, 37, 41, .8) !important;
                }
            }
            p {
              display: none;
            }
        }


        .description {
            textarea {
                /*width: 20em;
                height: 5em;
                border-radius: 0.5em;*/
                margin: 15px 0;
                font-size: 16px;
                padding: 10px;
                width: 250px;
                border: 1px solid rgba(10, 180, 180, 1);
                border-top: none;
                border-left: none;
                border-right: none;
                background: rgba(20, 20, 20, .2);
                color: white;
                outline: none;
                &:hover {
                  color: white !important;
                  background: rgba(19, 37, 41, .8) !important;
                }
            }
            p {
              display: none;
            }
        }
    }

    .level-category-date-video {
        input {
            /*height: 2em;
            width: 12em;
            border-radius: 0.5em;*/
            margin: 15px 0;
            font-size: 16px;
            padding: 10px;
            width: 250px;
            border: 1px solid rgba(10, 180, 180, 1);
            border-top: none;
            border-left: none;
            border-right: none;
            background: rgba(20, 20, 20, .2);
            color: grey;
            outline: none;
            &:hover {
              color: white !important;
              background: rgba(19, 37, 41, .8) !important;
            }
        }
        p {
          display: none;
        }
        select {
          margin: 15px 0;
          font-size: 16px;
          padding: 10px;
          width: 250px;
          border: 1px solid rgba(10, 180, 180, 1);
          border-top: none;
          border-left: none;
          border-right: none;
          background: rgba(20, 20, 20, .2);
          color: grey;
          outline: none;
          &:hover {
            color: white !important;
            background: rgba(19, 37, 41, .8) !important;
          }
        }
    }
}

.submit-add-lesson {
    padding-top: 2em;
    display: flex;
    justify-content: center;
    input {
        /*height: 2em;
        width: 5em;*/
        border-radius: 0.4em;
        border: 1px solid rgba(10, 180, 180, 1);
        background: rgba(20, 20, 20, .6);
        font-size: 18px;
        color: white;
        margin-top: 20px;
        padding: 10px 50px;
        cursor: pointer;
        transition: .4s;
        &:hover {
          background: rgba(20, 20, 20, .8);
          padding: 10px 80px;
        }
    }
}
 /* <ImageCategory picture={lesson.picture} /> */
 .lessons {
   display: flex;
   justify-content: center;
   .segment {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .button {
        height: 5vh !important;
        width: 40% !important;
        flex-wrap: wrap;
      }
      .input-topbar {
        height: 5vh !important;
        width: 40% !important;
        flex-wrap: wrap;
      }
      .cards {
        display: flex;
        justify-content: center;
        .card-lesson-list {
          border-radius: 0.5em !important;
          display: flex !important;
          //display: block !important;
          justify-content: center !important;
          //margin-left: 1em !important;
          //background: linear-gradient(0deg,  rgba(252,194,69,1) 10%, rgba(199,24,0,1) 100%) !important;
          background: linear-gradient(0deg, rgba(19, 37, 41, 1) 10%, rgba(10, 180, 180, 1) 100%) !important;
          padding: 0.5em !important;
          margin: 2% !important;
          //box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22);
          align-content: center;
          transition: 0.4s;
          //width: 25% !important;
          .card {
            //background: black !important;
            //border: 1px solid red !important;
            display: flex !important;
            justify-content: center !important;
            background: linear-gradient(0deg, rgba(19, 37, 41, 1) 10%, rgba(10, 180, 180, 1) 100%) !important;
            .image {
              width: 250px !important;
              img {
                width: 250px !important;
              }
            }
            .header {
              font-size: 1.5em !important;
              color: white !important;
              font-weight: bold !important;
              padding-top: 0.5 !important;
              padding-bottom: 0.5 !important;
              padding-left: 0.5 !important;
              a {
                //padding-left: -1.5em !important;
                color: white !important;
                margin-left: 0.4em !important;
              }
            }
            .meta {
              display: none !important;
            }
            .description {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              background: rgba(19, 37, 41, 0.9) !important;
              box-shadow: inset 3px 10px 20px 5px rgba(0, 0, 0, .8) !important;
              font-size: 1.5em;
              padding-right: 1em !important;
              padding-left: 1em !important;
              padding-top: 1em !important;
              height: 30vh;
              overflow-y: scroll;
              scrollbar-color: red !important;
              color: white !important;
              border-radius: 0.2em;
            }
            .extra {
              background: rgba(19, 37, 41, 1) !important;
              box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5) !important;
              color: white !important;
              padding-top: 0.5em;
              padding-bottom: 0.5em;
              padding-left: 0.5em;
              font-size: 1.1em;
              display: flex;
              flex-wrap: wrap;
              p {
                width:90% !important;
              }
              time {
                width: 50% !important;
              }
              .lesson-bell {
                width: 50% !important;
                margin-left: 0 !important;
                text-align: right !important;
              }
              a {
                color: white !important;
              }
            }
          }
              &:hover {
                transform: scale(0.9, 0.9);

              }
        }
      }
   }

}



@media (max-width: 768px) {
    .lessons {
        .input-topbar {
            margin-bottom: 30px !important;
        }
    }
}

@media (max-width: 650px) {
    .add-lesson-form{
        flex-direction: column;
        align-items: center;
}}

/*@media only screen and (max-width: 767px) {
  .ui .stackable .cards {
    display: none !important;
  }
}*/

