// //?-----------------------------------------------------
// //?--------------------DESKTOP--------------------------
// //?-----------------------------------------------------


// //! --------------------------------------------
// //!           ROOM en dessous des labels
// //! --------------------------------------------
// @media (min-width: 768px) {
//     .room {

//         .container-update-room {

//             .room-modify-button {

//             }
//         }

//         .room--description {
//         }
//         //! -----------------------------------
//         //!              tchat
//         //! -----------------------------------
//         .container-chat-main {

//         }
//         .container-input-submit {

//         }
//         //! -----------------------------------
//         //!           User connected
//         //! -----------------------------------
//         .container-room-user {
//         }
//     }


// }













// //?-----------------------------------------------------
// //?--------------------MOBILE--------------------------
// //?-----------------------------------------------------


//     //! --------------------------------------------
//     //!           TOUTE LA ROOM  => mobile
//     //! --------------------------------------------

//     //! --------------------------------------------
//     //!                 HEADER
//     //! --------------------------------------------

//     .header-room {
//         margin: 0.3em 0.3em 0em 0.3em !important;
//         .label-category {
//             margin: 0.3em 0 !important;
//         }
//     }
//     .room {
//         padding: 0 0.3em;
//         min-height: 75vh;
//         display: flex;
//         // flex-direction: row;
//         align-items: center;
//         justify-content: space-around;
//         flex-direction: column;
//     //! ----------------------------------------------
//     //! ---------modifier son propre cours------------
//     //! ----------------------------------------------
//         .container-update-room {
//             border: 1px solid #BDC3C7;
//             border-radius: 5px;
//             box-shadow: 10px 5px 5px #BDC3C7;
//             width: 100%;
//             display: flex;
//             flex-direction: row;
//             justify-content: space-around;
//             align-items: center;
//             margin-bottom: 0.5em;
//             padding: 0.3em;
//         }
//     //! ----------------------------------------------
//     //! ---------description room ------------
//     //! ----------------------------------------------


//         .room--description {
//             width: 100%;
//             margin-top: 0.5em;
//             margin-bottom: 0.5em;
//             border: 1px solid #BDC3C7;
//             border-radius: 5px;
//             box-shadow: 10px 5px 5px #BDC3C7;
//             padding: 0.5em;
//         }
//     //! ---------------------------------------------
//     //!                 tchat
//     //! ---------------------------------------------

//         .tchat {
//             width: 100%;
//             display: flex;
//             justify-content: space-between;
//             margin-bottom: 0.5em;
//             .container-chat-main {
//                 border: 1px solid #BDC3C7;
//                 border-radius: 5px;
//                 box-shadow: 10px 5px 5px #BDC3C7;
//                 width: 65%;
//                 height: 33.6vh;
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 justify-content: space-around;
//                 padding: 1em 0;
//                 .chat-all-messages {
//                     overflow-y: scroll;
//                     min-height: 30vh;
//                     width: 100%;
//                     padding-left: 0.3em;
//                     padding-top: 0.3em;
//                     .chat-message {
//                         .date-message {
//                             color: rgb(160, 159, 159);
//                             font-size: 0.8em;
//                         }
//                         .message-author {
//                             margin-right: 0.5em;
//                         }
//                     }
//                 }

//                 .container-input-submit {
//                     padding-top: 0.2em;
//                      width: 100%;
//                      form {
//                         width: 100%;
//                         input {
//                             font-size: 16px;
//                             height: 30px;
//                             flex: 1;
//                             border-radius: 5px;
//                             width: 80%;
//                           }
//                           button {
//                               height: 32px;
//                               border-radius: 5px;
//                               width: 20%;
//                               display: inline;
//                           }
//                      }

//                 }

//             }
//             .container-room-user {
//                 border: 1px solid #BDC3C7;
//                 border-radius: 5px;
//                 box-shadow: 10px 5px 5px #BDC3C7;
//                 margin-left: 0.8em;
//                 width: 35%;
//                 padding: 0 0.5em;
//                 .user-connected {
//                     display: flex;
//                     flex-direction: column;
//                     .ui.image.label {
//                         margin-top: 0.3em;
//                     }
//                 }
//             }
//         }

//     }


//     //! ---------------------------------------------
//     //!                 MODAL -> mobile
//     //! ---------------------------------------------

//     .container-update-lesson-form{

//         .update-lesson-form {
//             flex-direction: column !important;

//         }
//     }


#root {
  min-height: 100% !important;
  .app {
    min-height: 100vh !important;
    .footer {
      //position: relative !important;
    }
  }
}



// == toute la room
.room {
    display: flex;
    // min-height: 80vh;
    background-color: rgb(0, 109, 109);
    color: white;
    overflow: hidden;
    height: calc(100vh -114px ) !important;
    // == le live stream + le bloc description
    .container-live-description {
        width: 75%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        // height: 80vh;
        // == bloc live stream
        .live-stream {
            display: grid;
            background-color: rgb(2, 87, 87);
            // box-shadow: inset 0 0 25px teal;
            // height: 90%;
            min-height: calc(100vh -50px -64px -7vh) !important;
            max-height: calc(100vh -50px -64px -7vh) !important;
            margin-left: 0.5em;
            // == bouton "lancer le stream"
            button {
                // display: none;
                justify-self: center;
                align-self: center;
            }
        }
        // == bloc description
        .room--description {
            // height: 10%;
            margin-left: 0.5em;
            // display: flex;
            background: rgba(19, 37, 41, .8) !important;
            border: 1px solid rgba(10, 180, 180, 1) !important;
            .descri-user {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .room-descri {
                    padding: 1em;
                    width: 33%;
                    h2 {
                        text-transform: uppercase;
                    }
                    .label-category {
                        margin-bottom: 0.5em;
                    }
                }
                .title-box {
                  width: 100%;
                 //border: 1px solid rgba(10, 180, 180, 1) !important;
                  height: 8vh;
                  h2 {
                    color: white !important;

                  }
                  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5) !important;
                  //background: rgba(19, 37, 41, .4) !important;
                  background: linear-gradient(to bottom, #00999f 0%, rgba(19, 37, 41, .4) 80%, rgba(19, 37, 41, .4) 100%);
                  .room-title {
                    padding-left: 1em;
                    padding-top: 0.7em;
                  }
                }
                .container-room-user {
                    // background-color: #175757;
                    text-align: right;
                    padding: 1em;
                    width: 33%
                }
                .category-level {
                  width: 30%;
                  text-align: center;
                  padding: 1em;
                }
            }

            .container-update-room {
                padding: 1em 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 0.5em;
                .room-addCategory-select {
                    form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }
    }
    // == bloc chat
    .react-auto-scroll .react-auto-scroll--showOption {
      height: 30vh !important;
    }
    .tchat {
        background-color: rgb(1, 134, 134);
        height: calc(100vh - 50px -64px) !important;
        width: 25%;
        //position: fixed;
        .container-chat-main {
            //height: 100%;
            //padding-left: 0.7em;
            min-height: calc(100vh -50px -64px -7vh) !important;
            max-height: calc(100vh -50px -64px -7vh) !important;
          div {
            height: 7vh;
          }
            .chat-all-messages {
              min-height: calc(100vh -50px -64px -7vh) !important;
              max-height: calc(100vh -50px -64px -7vh) !important;
                overflow-y: scroll;
                 //height: 82vh !important;
                 padding-left: 0.4em;
                 padding-top: 0.3em;
                 margin-bottom: 0 !important;
                 .chat-message {
                    .date-message {
                        color: rgb(218, 216, 216);
                        font-size: 0.8em;
                        padding-left: 0.4em;
                    }
                    .message-author {
                        color: rgb(6, 224, 224);
                        font-size: 1.3em;
                        padding-right: 0.5em;
                        // font-weight: 900;
                        padding-left: 0.4em;
                    }
                    .message-content {
                        font-weight: 400;
                        padding-left: 1em;
                        padding-right: 1em;
                        padding-bottom: 0.5em;
                    }
                }
            }
        }
    }
    .chat-send-message {
      height: 100%;
      .container-input-submit {
          display: flex;
          height: 100%;
              input {
                  background-color: #175757;
                  color: white;

                  width: 85%;
                  border-top: 1px solid white;
                  border-bottom: none;
                  border-left: none;
                  border-right: none;
                  padding-left: 1.1em;
                  padding-top: 1em;
                  padding-bottom: 1.2em;
              }
              input::placeholder{
                  color: white;
              }
              .icone-smiley {

                  display: flex;
                  width: 15%;
                  border-top: 1px solid white;
                  border-bottom: none;
                  border-left: none;
                  border-right: 1px solid #175757;
                  background-color: #175757;
                  .smiley {
                      font-size: 2em;
                      background-color: #175757;
                      color: white;
                      padding-top: 0.2em;
                  }
                  .smiley:hover {
                      color: grey;
                  }
              }
      }
          }
    }





// //? ----------RE ---- DESKTOP -------------------
// //! -----------------------------
// //! ---------modal----------------
// //! -----------------------------
// // == container in modal update lesson
.container-update-lesson-form{
    padding: 3em;
    display: flex;
    flex-direction: column;

    .update-lesson-form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .title-description {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .title {
                input {
                    height: 2em;
                    width: 10em;
                    border-radius: 0.5em;
                }
            }
            .description {
                textarea {
                    width: 20em;
                    height: 5em;
                    border-radius: 0.5em;
                }
            }
        }
        .date-video-level {
            input {
                height: 2em;
                width: 12em;
                border-radius: 0.5em;
            }
        }
    }

    .submit-lesson-form {
        padding-top: 2em;
        display: flex;
        justify-content: center;
        input {
          border-radius: 0.5em !important;
          border: 2px solid rgba(10, 180, 180, 1) !important;
          background: rgba(20, 20, 20, .6) !important;
          font-size: 18px !important;
          color: white !important;
          margin-top: 20px !important;
          padding: 10px 50px !important;
          cursor: pointer !important;
          transition: .4s !important;
          &:hover {
            background: rgba(20, 20, 20, .8) !important;
            padding: 10px 80px !important;
          }
        }
    }
}
.room-modify-button .button {
  border: 1px solid rgba(10, 180, 180, 1) !important;
  background: rgba(20, 20, 20, .6) !important;
  font-size: 18px !important;
  color: white !important;
  margin-top: 21px !important;
  padding: 10px 25px !important;
  cursor: pointer !important;
  transition: .4s !important;
  border-radius: 1em !important;
  &:hover {
    background: rgba(20, 20, 20, .8) !important;
    padding: 10px 50px !important;
    color:white !important;
  }
}
.room-delete-button .button {
  border: 1px solid rgba(10, 180, 180, 1) !important;
  background: rgba(20, 20, 20, .6) !important;
  font-size: 18px !important;
  color: white !important;
  margin-top: 21px !important;
  padding: 10px 25px !important;
  cursor: pointer !important;
  transition: .4s !important;
  border-radius: 1em !important;
  &:hover {
    background: rgba(20, 20, 20, .8) !important;
    padding: 10px 50px !important;
    color:white !important;
  }
}
.container-addCategory select {
  border: 1px solid rgba(10, 180, 180, 1) !important;
  background: rgba(20, 20, 20, .6) !important;
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  //background: rgba(20, 20, 20, .2);
  color: grey;
  outline: none;
  border-radius: 1em !important;
  &:hover {
    color: white !important;
    background: rgba(19, 37, 41, .8) !important;
  }
}


.container-addCategory input {
  border: 1px solid rgba(10, 180, 180, 1) !important;
  background: rgba(20, 20, 20, .6) !important;
  font-size: 18px !important;
  color: white !important;
  margin-top: 21px !important;
  padding: 10px 25px !important;
  cursor: pointer !important;
  transition: .4s !important;
  border-radius: 1em !important;
  &:hover {
    background: rgba(20, 20, 20, .8) !important;
    padding: 10px 50px !important;
    color:white !important;
  }
}
.update-lesson-content {
  background: rgba(19, 37, 41, 1) !important;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5) !important;
  .description {
    .header {
      padding: 1em 2em;
      background: rgba(19, 37, 41, .8) !important;
      box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5) !important;
      border: 1px solid rgba(10, 180, 180, 1) !important;
      border-radius: 0.5em !important;
    }
    form {
      .update-lesson-form {
        input {
          margin: 15px 0;
          font-size: 16px;
          padding: 10px;
          width: 250px;
          border: 1px solid rgba(10, 180, 180, 1);
          border-top: none;
          border-left: none;
          border-right: none;
          background: rgba(20, 20, 20, .2);
          color: white;
          outline: none;
          &:hover {
            color: white !important;
            background: rgba(19, 37, 41, .8) !important;
          }
        }
        textarea {
          margin: 15px 0;
          font-size: 16px;
          padding: 10px;
          width: 250px;
          border: 1px solid rgba(10, 180, 180, 1);
          border-top: none;
          border-left: none;
          border-right: none;
          background: rgba(20, 20, 20, .2);
          color: white;
          outline: none;
          &:hover {
            color: white !important;
            background: rgba(19, 37, 41, .8) !important;
          }
        }
        select {
          border-radius: 0.5em;
          margin: 15px 0;
          font-size: 16px;
          padding: 10px;
          width: 250px;
          border: 1px solid rgba(10, 180, 180, 1);
          border-top: none;
          border-left: none;
          border-right: none;
          background: rgba(20, 20, 20, .2);
          color: white;
          outline: none;
          &:hover {
            color: white !important;
            background: rgba(19, 37, 41, .8) !important;
          }
        }
        p {
          display: none;
        }
      }
    }
  }
}
