//?-----------------------------------------------------
//?--------------------DESKTOP--------------------------
//?-----------------------------------------------------


//! --------------------------------------------
//!                 HEADER
//! --------------------------------------------

.header-room {
    margin: 0.3em 0.5em 0em 0.5em !important;
    .label-category {
        margin: 0.3em 0 !important;
    }
}

//! --------------------------------------------
//!                 TOUTE LA ROOM
//! --------------------------------------------

.room {
    // margin: 0 0.5em;
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .container-update-room {
        height: 100%;
        border: 1px solid #BDC3C7;
        border-radius: 5px;
        box-shadow: 10px 5px 5px #BDC3C7;
    }

    .room--description {
        padding: 0.5em;
    }
    .room-modify-button {
        padding: 10px 0;
    }
    .room--description {
        border: 1px solid #BDC3C7;
        border-radius: 5px;
        box-shadow: 10px 5px 5px #BDC3C7;
    }
    //! -----------------------------------
    //!              tchat
    //! -----------------------------------
    .container-chat-main {
        border: 1px solid #BDC3C7;
        border-radius: 5px;
        box-shadow: 10px 5px 5px #BDC3C7;
    }
    .container-input-submit {
        width: 100%;
        padding-top: 0.1em;
        form {
            width: 100%;
            input {
                width: 80%;
            }
            button {
                width: 20%;
            }
        }
    }
    //! -----------------------------------
    //!           User connected
    //! -----------------------------------
    .container-room-user {
        border: 1px solid #BDC3C7;
        border-radius: 5px;
        box-shadow: 10px 5px 5px #BDC3C7;
    }
}


//?-----------------------------------------------------
//?--------------------MOBILE--------------------------
//?-----------------------------------------------------


@media (max-width: 700px) {
    //! --------------------------------------------
    //!           TOUTE LA ROOM  => mobile
    //! --------------------------------------------
    .room {
        flex-direction: column;
    //! ----------------------------------------------
    //! ---------modifier son propre cours------------
    //! ----------------------------------------------
        .container-update-room {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 0.5em;
            padding: 0.3em;
            justify-content: space-around;

        }
    //! ----------------------------------------------
    //! ---------description room ------------
    //! ----------------------------------------------


        .room--description {
            width: 100%;
            margin-top: 0.3em;
        }
    //! ---------------------------------------------
    //!                 tchat
    //! ---------------------------------------------

        .tchat {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .container-chat-main {
                width: 65%;
                height: 33.6vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                padding: 1em 0;
                .chat-all-messages {
                    overflow-y: scroll;
                    min-height: 30vh;
                    width: 100%;
                    padding-left: 0.3em;
                    padding-top: 0.3em;
                    .chat-message {
                        .date-message {
                            color: rgb(160, 159, 159);
                            font-size: 0.8em;
                        }
                        .message-author {
                            margin-right: 0.5em;
                        }
                    }
                }

                .container-input-submit {
                     width: 100%;
                     input {
                       font-size: 16px;
                       height: 30px;
                       flex: 1;
                       border-radius: 5px;
                       width: 80%;
                     }
                     button {
                         height: 32px;
                         border-radius: 5px;
                     }
                }

            }
            .container-room-user {
                margin-left: 0.8em;
                width: 35%;
                padding: 0 0.5em;
                .user-connected {
                    display: flex;
                    flex-direction: column;
                    .ui.image.label {
                        margin-top: 0.3em;
                    }
                }
            }
        }

    }


    //! ---------------------------------------------
    //!                 MODAL -> mobile
    //! ---------------------------------------------

    .container-update-lesson-form{

        .update-lesson-form {
            flex-direction: column !important;

        }
    }
}



//? ----------RE ---- DESKTOP -------------------
//! -----------------------------
//! ---------modal----------------
//! -----------------------------
// == container in modal update lesson
.container-update-lesson-form{
    padding: 3em;
    display: flex;
    flex-direction: column;

    .update-lesson-form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .title-description {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .title {
                input {
                    height: 2em;
                    width: 10em;
                    border-radius: 0.5em;
                }
            }
            .description {
                textarea {
                    width: 20em;
                    height: 5em;
                    border-radius: 0.5em;
                }
            }
        }
        .date-video-level {
            input {
                height: 2em;
                width: 12em;
                border-radius: 0.5em;
            }
        }
    }

    .submit-lesson-form {
        padding-top: 2em;
        display: flex;
        justify-content: center;
        input {
            height: 2em;
            width: 5em;
        }
    }
}