.askLessons {
    min-height: 85vh;
    .ui .button {
        margin: 0 0 10px 0 !important;
    }
    .input-topbar {
        margin: 0 0 10px 0 !important;
    }
}
.addAskModal {
  background: rgba(19, 37, 41, 1) !important;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5) !important;
  .positive {
    background: rgba(19, 37, 41, 1) !important;
    border: none;
    .header {
      padding: 0;
      background: none !important;
      box-shadow: none !important;
    }
  }
}
.extra {
  display: flex;
  .link-ask-div {
    width: 70%;
    flex-wrap: wrap;
  }
  .pencil-ask-card {
    width: 6%;
    flex-wrap: wrap;
  }
  .croix-ask-card {
    width: 8%;
    flex-wrap: wrap;
    text-align: right;
  }
  .ask-heart {
    p {
      display: inline;
      flex-wrap: wrap;
    }
    color: black !important;
    flex-wrap: wrap;
    text-align: right;
    width: 16%;
    .icon::before {
      color: red;
    }
  }
}
.ask-card {
  background: white !important;
}
