//! -----------------------------
//! mobile
//! -----------------------------

.container-chat-main {
    // background-color: rgb(201, 200, 200);
    border: 1px solid #BDC3C7;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #BDC3C7;
    height: 33.6vh;
    // min-width: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // margin: 1em;
    margin-top: 0.5em;
    .chat-all-messages {
        overflow-y: scroll;
        min-height: 30vh;
        max-width: 22vh;
        padding: 0em 3em 1em 0.3em;
        .chat-message {
            .date-message {
                color: rgb(160, 159, 159);
                font-size: 0.8em;
            }
            .message-author {
                margin-right: 0.5em;
            }
        }

    }
    .container-input-submit {
        input {
            font-size: 16px;
	        height: 30px;
            flex: 1;
            border-radius: 5px;
        }
        button {
            height: 32px;
            border-radius: 5px;
        }
    }
}

//! -----------------------------
//! Desktop
//! -----------------------------

@media (min-width: 700px) {
    .container-chat-main {
        width: 40vh;
        .chat-all-messages {
            max-width: 39vh;
        }
    }

    .container-input-submit {
        width: 100%;
        padding-top: 0.1em;
        form {
            width: 100%;
            input {
                width: 80%;
            }
            button {
                width: 20%;
            }
        }

    }
}
