.login-form {
    width: 500px;
    margin: 5em auto;
    min-height: 70vh;
    margin-bottom: 5.5em;
    .segment {
      border: 1px solid rgba(10, 180, 180, 1) !important;
      background: rgba(19, 37, 41, 1) !important;
      box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5) !important;
      text-align: center;
      border-radius: 1em !important;
    }
    .button {
      border: 1px solid rgba(10, 180, 180, 1) !important;
      background: rgba(20, 20, 20, .6) !important;
      font-size: 18px !important;
      color: white !important;
      margin-top: 21px !important;
      padding: 10px 50px !important;
      cursor: pointer !important;
      transition: .4s !important;
      &:hover {
        background: rgba(20, 20, 20, .8) !important;
        padding: 10px 80px !important;
        color:white !important;
      }
    }
    .field input {
      margin: 15px 0 !important;
      font-size: 16px !important;
      padding: 10px !important;
      width: 250px !important;
      border: 1px solid rgba(10, 180, 180, 1) !important;
      border-top: none !important;
      border-left: none !important;
      border-right: none !important;
      background: rgba(20, 20, 20, .2) !important;
      color: grey !important;
      outline: none !important;
      &:hover {
        color: white !important;
        background: rgba(19, 37, 41, .8) !important;
      }
    }
    .field label {
      color: white !important;
    }
}

@media (max-width: 500px) {
    .login-form {
        margin: 1em auto;
        width: 90%;
        min-height: 75vh;
    }

}

