body {
  height: 100vh;
}
.first-signup-form {
    width: 50%;
    margin: 2em auto;
    text-align: center;
    background: rgba(19, 37, 41, 1) !important;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5) !important;
    padding: 4em;
    padding-right: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 1em;
    border: 1px solid rgba(10, 180, 180, 1) !important;
    input {
      margin: 15px 0 !important;
      font-size: 16px !important;
      padding: 10px !important;
      width: 30% !important;
      border: 1px solid rgba(10, 180, 180, 1) !important;
      border-top: none !important;
      border-left: none !important;
      border-right: none !important;
      background: rgba(20, 20, 20, .2) !important;
      color: grey !important;
      outline: none !important;
      &:hover {
        color: white !important;
        background: rgba(19, 37, 41, .5) !important;
      }
    }
    .form {
      .field{
        margin: 0 !important;
      }
      .field label {
        //display: none !important;
        color: rgba(10, 180, 180, 1) !important;
      }
      .button {
        border: 1px solid rgba(10, 180, 180, 1);
        background: rgba(20, 20, 20, .6);
        font-size: 18px;
        color: white;
        margin-top: 21px;
        padding: 10px 50px;
        cursor: pointer;
        transition: .4s;
        &:hover {
          background: rgba(20, 20, 20, .8);
          padding: 10px 80px;
          color:white;
        }
      }
    }
}
@media (max-width: 900px) {
  .first-signup-form {
      //margin: 1em !important;
      min-width: 70% !important;
      min-height: 75vh;
  }

}
@media (max-width: 600px) {
    .first-signup-form {
        margin: 1em !important;
        min-width: 90% !important;
        min-height: 75vh;
    }

}
