.container-404 {
    min-height: calc(100vh - 64px - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .quatre {
        img {
            height: 500px;
            width: auto;
        }
        .source_img {
            text-align: center;
        }
    }
}


@media (max-width: 519px) {
    .container-404 {
        min-height: calc(100vh - 156px - 50px);
    }
}

@media (max-width: 460px) {
    .container-404 {
        min-height: calc(100vh - 138px);
        img {
            height: 300px !important
        }
    }
}